body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FAEBD7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #FEFBF7;
    border-radius: 5px;
  }
  
  header {
    text-align: center;
    font-size: 50px;
    color: #4d5052;
  }
  
  main {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
  }
  
  nav {
    order: -1;
  }
  
  nav, aside {
    background-color: #C2C8CD;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  input[type="text"] {
    flex-basis:50%;
    padding: 1em;
  }
  input[type="submit"] {
    flex-basis:51%;
    padding: .5em;
    margin: .5em;
    margin-top: 1.5em;
  }
  label {
    flex-basis: 51%;
    text-align: center;
  }
  .coffee {
    margin: 5px;
    padding: 5px 15px 5px 15px;
    background-color: #d6a879;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      flex: 1;
    }
    nav, aside {
      flex: 0 0 12em;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #dfdfdf;
    background-color: grey;
    padding: 25px 0px 25px 0px;
    border-radius: 20px;
  }

  .submitHeader {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
  }